# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
*.xml
*.iml
*/.idea
.idea
*/static/
.iml
eager_graphQl/graphql/.idea/